extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-success text-danger text-center')= title 
 
  form(id='penForm', action="/resource/pen", method="POST") 
    div.form-group 
        label.penAttr(for='width') pen width 
        input#tele_name(type='number', name='width') 
    div.form-group 
        label.penAttr(for='style') pen style
        input#size(type='text', name='style') 
    div.form-group 
        label.penAttr(for='color') pen color
        input#cost(type='text', name='color') 
    input(class="btn btn-info" type="submit") 
 
  script. 
    document.forms['penForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 