extends layout 
 
block content 
  h1= title 
  if(toShow==null)
   h2 No Instance to update 
  else 
    - let pen_id = toShow._id 
    - let width = toShow.width 
    - let style = toShow.style
    - let color = toShow.color
    
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{pen_id} 
    - let actionid = "/resource/pen/" + pen_id 
    form(id='penForm', action= actionid, method="PUT") 
      div.form-group 
          label.penAttr(for='width') pen width
          input#width(type='number', width='width', value= width ) 
      div.form-group 
          label.penAttr(for='style') pen style
          input#style(type='text', width='style', value= style )    
      div.form-group 
          label.penAttr(for='color') pen color
          input#color(type='text', width='color', value= color ) 
          
      input(type="submit") 
  
    script. 
      document.forms['penForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
          method: 'PUT', 
          body: new URLSearchParams(new FormData(event.target))   // event.target is the form 
        }).then((resp) => { 
          return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
          alert("Update succeded") 
          // TODO handle body   
        }).catch((error) => { 
          // TODO handle error 
          alert("Update failed " + error ) 
        }); 
      }); 
  